.chat-form-wrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.card {
  height: 300px;
  overflow-y: auto;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}